.submitter-container {
  display: flex;
  background: #1d1d1d;
  outline: 1px solid #454545;
  border-radius: 32px;
  align-items: center;
}

.label {
  font-size: 12px;
  margin-bottom: 12px;
  color: #ffffff90;
}

.submitter {
  flex: 1;
  background-color: transparent;
  outline: none;
  border: none;
  height: 44px;
  padding: 0 24px;
  font-size: 16px;
  color: #ffffff;
}

.submitter::placeholder {
  color: #454545;
  font-size: 12px;
}

.submitter-button-wrapper .button-container {
  height: calc(44px - 8px);
  margin-right: 4px;
}
