.chat-container {
  height: 480px;
  width: 380px;
  position: absolute;
  right: 32px;
  bottom: -480px;
  border-radius: 24px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.textarea-wrapper {
  flex: 1;
}

.chat-container.should-appear {
  bottom: 32px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.chat-container .chat-content {
  overflow-y: scroll;
  padding: 16px 0;
}

.chat-container .chat-content::-webkit-scrollbar {
  display: none;
}

.chat-container .button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.warning-message {
  color: #454545;
  margin-bottom: 32px;
  font-size: 1rem;
  line-height: 1.6rem;

  .link {
    color: #fff;
    font-weight: 300;
  }
}
