.chat-container {
  height: 480px;
  width: 380px;
  position: absolute;
  right: 32px;
  bottom: -480px;
  border-radius: 8px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.textarea-wrapper {
  flex: 1;
}

.chat-container.should-appear {
  bottom: 32px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.chat-container .chat-messages {
  flex: 1;
}

.chat-container .button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
