.input-container {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 12px;
  margin-bottom: 8px;
  color: #ffffff90;
}

.input {
  background: #00000020;
  border-radius: 8px;
  border: none;
  outline: 2px solid #00000060;
  height: 48px;
  padding: 0 16px;
  font-size: 16px;
  color: #ffffff;
}

.input::placeholder {
  color: #ffffff10;
  font-size: 12px;
}
