.header-container {
  color: #ffffff;
  padding-bottom: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 1.3rem;
  }
}

.header-container .icon-container {
  cursor: pointer;
}

.header-container .icon-container:hover {
  color: #ffffff;
}
